body, table, div, p, dl {
	font: 300 14px/22px lato,sans-serif;
}

.title {
	font: 200 14px/28px lato,sans-serif;
	font-size: 150%;
	font-weight: bold;
	margin: 10px 2px;
}

a {
    color: #152BDE;
    font-weight: 400;
    text-decoration: none;
}

.contents a:visited {
  color: #2671B5;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-weight: 400;
}

h1, .h1 {
    font-size: 150%;
    padding: .5em 0 .5em .75em;
    border-left: 7px solid #d6d6ff;
    border-bottom: 2px solid #d6d6ff;
}

h2, .h2 {
    font-size: 130%;
    padding: .5em 0 .4em .75em;
    border-left: 5px solid #d6d6ff;
}

h3, .h3 {
    font-size: 120%;
    padding: .5em 0 .5em .75em;
    border-bottom: 2px solid #d6d6ff;
}

h4, .h4 {
    font-size: 120%;
    padding: .5em 0 .5em .75em;
    border-bottom: 1px dashed #c6c6ff;
}

h5, .h5 {
    font-size: 110%;
    padding: 0.0em .1em .0em .5em;
    border-left: 2px solid #d6d6ff;
}

h6, .h6 {
    font-size: 110%;
    padding: 0.0em .1em .0em .5em;
    border-left: 1px dashed #d6d6ff;
}

#navrow1, #navrow2, #navrow3, #navrow4, #navrow5{
    border-bottom: 1px solid #EEEEEE;
}

/* tabs */

.tabs, .tabs2, .tabs3 {
    background-color: #120D56;
    background-image: none;
    width: 100%;
    z-index: 101;
    font-size: 18px;
    font-family: lato,Arial,sans-serif;
}

.tabs2 {
    font-size: 14px;
}
.tabs3 {
    font-size: 12px;
}

.tablist {
    margin: 0;
    padding: 0;
    display: table;
}

.tablist li {
    float: left;
    display: table-cell;
    background-color: #120D56;
    background-image: none;
    line-height: 36px;
    list-style: none;
}

.tablist a {
    display: block;
    padding: 0 20px;
    font-weight: 200;
    background-repeat:no-repeat;
    background-position:right;
    color: #283A5D;
    text-shadow: 0px 1px 1px rgba(12, 11, 6, 0.9);
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.7s;
}

.tabs3 .tablist a {
    padding: 0 10px;
}

.tablist a:hover {
    background-color: #4242A7;
    background-image: none;
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    text-decoration: none;
    transition: 0.15s;
}

.tablist li.current a {
    background-color: #664488;
    background-image: none;
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}

/* project title */

#projectname
{
    font: 300% lato, Arial,sans-serif;
    font-weight: 200;
    margin: 0px;
    padding: 2px 0px;
}
    
#projectbrief
{
    font: 120% lato, Arial,sans-serif;
    margin: 0px;
    padding: 0px;
}

#projectnumber
{
    font: 50% lato, Arial,sans-serif;
    margin: 0px;
    padding: 0px;
}

/* title */

.title {
    font: 200 14px/28px lato,sans-serif;
    font-size: 150%;
    font-weight: 200;
    margin: 10px 2px;
}

/* navpath */

.navpath ul
{
    font-size: 14px;
    background-color: #120D56;
    background-image: none;
    background-repeat:repeat-x;
    background-position: 0 -5px;
    height:30px;
    line-height:30px;
    color:#8AA0CC;
    border:solid 1px #C2CDE4;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

.navpath li
{
    list-style-type:none;
    float:left;
    padding-left:10px;
    padding-right:15px;
    backgroun-image: none;
    background-repeat:no-repeat;
    background-position:right;
    color: #FFFFFF;
}

.navpath li b
{
    font-weight: 200;
}

.navpath li.navelem a
{
    height:32px;
    display:block;
    text-decoration: none;
    outline: none;
    color: #FFF;
    font-family: lato,Arial,sans-serif;
    text-shadow: 0px 1px 1px rgba(14, 13, 13, 0.9);
    text-decoration: none;
}

.navpath li.navelem a:hover
{
    color:#6884BD;
}

a.el {
    font-weight: 200;
    font-family: monospace;
}

div.fragment > div.line {
    font-family: Consolas, Inconsolata, Monaco, Menlo, monospace;
}

pre.fragment {
    font-family: Consolas, Inconsolata, Monaco, Menlo, monospace;
    font-size: 100%;
}

.mdescLeft,
.memItemLeft, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
    font-family: monospace;
}

.memtemplate {
    font-size: 80%;
    color: #4665A2;
    font-weight: normal;
    margin-left: 9px;
    font-family:  monospace;
}

.memtemplate {
    font-size: 80%;
    color: #4665A2;
    font-weight: normal;
    margin-left: 9px;
    font-family:  monospace;
}

.paramname {
    color: #2C9E2C;
    white-space: nowrap;
    font-family: monospace;
}

#nav-tree .label {
  margin:0px;
  padding:0px;
  font: 14px lato,Arial,sans-serif;
}

div.contents > ul li {
  font-family: monospace;
}

.navpath li.footer
{
  list-style-type:none;
  float:right;
  padding-left:10px;
  padding-right:15px;
  background-image:none;
  background-repeat:no-repeat;
  background-position:right;
  color: #EBEDF3;
  font-size: 8pt;
}

.ui-resizable-e {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#120d56+0,6380c1+100 */
  background: #120d56; /* Old browsers */
  background: -moz-linear-gradient(left, #120d56 0%, #6380c1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #120d56 0%,#6380c1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #120d56 0%,#6380c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#120d56', endColorstr='#6380c1',GradientType=1 ); /* IE6-9 */
}

.memproto, dl.reflist dt {
  border-top: 1px solid #A8B8D9;
  border-left: 1px solid #A8B8D9;
  border-right: 1px solid #A8B8D9;
  border-bottom: 1px solid #A8B8D9;
  padding: 6px 0px 6px 0px;
  color: #253555;
  font-weight: bold;
  background-image: none;
  background-repeat:repeat-x;
  background-color: #F1F6FF;/* opera specific markup */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;/* firefox specific markup */
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-topleft: 2px;/* webkit specific markup */
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-border-top-right-radius: 2px;
  -webkit-border-top-left-radius: 2px;
}

.memdoc, dl.reflist dd {
  border-bottom: 1px solid #A8B8D9;
  border-left: 1px solid #A8B8D9;
  border-right: 1px solid #A8B8D9;
  padding: 6px 10px 2px 10px;
  background-color: #FBFCFD;
  border-top-width: 0;
  background-image: none;
  background-repeat:repeat-x;
  background-color: #FFFFFF;/* opera specific markup */
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);/* firefox specific markup */
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px;/* webkit specific markup */
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

span.mlabel {
  background-color: #462DAB;
  border-top:1px solid #5373B4;
  border-left:1px solid #5373B4;
  border-right:1px solid #C4CFE5;
  border-bottom:1px solid #C4CFE5;
  color: white;
  margin-right: 4px;
  padding: 2px 3px;
  border-radius: 2px;
  font-size: 9pt;
  white-space: nowrap;
  vertical-align: middle;
  text-shadow:  none;
  font-weight: 200;
}

.memname {
  font-weight: bold;
  margin-left: 6px;
  font-family: monospace;
}

hr {
  height: 0px;
  margin: 0;
  border-top: 1px solid rgba(185, 187, 255, 0.68);
  border-bottom: 1px solid rgba(137, 130, 249, 0.2);
}
